@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

// BEGINNING OF SIDEBAR STYLES
.sidebar {
   flex: 0.14;
   max-height: 100vh;
   overflow-y: auto;
   width: 100%;

   @media (max-width: 850px) {
      display: none;
   }
}

// MAIN LAYOUT STYLES
.main {
   flex: 0.86;
   width: 100%;
}

.app {
   display: flex;
   width: 100%;
   @media (max-width: 850px) {
      display: block;
   }
}

::-webkit-scrollbar {
   width: 7px;
}

::-webkit-scrollbar-track {
   background: #cfcfcf;
}

::-webkit-scrollbar-thumb {
   background: #a5a5a5;
}

* {
   text-decoration: none;
}
